$primaryColor: rgba(159, 237, 215, 1);
$secondaryColor: rgba(2, 102, 112, 1);
$grey: #edeae5;
$light-yellow: #fff9c7;
$dark-yellow: #fbe180;


@font-face {
    font-family: 'proximaNovaBold';
    src: local('proximaNovaBold'), url('../../assets/fonts/proximanovacond-bold.otf') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaMedium';
    src: local('proximaNovaMedium'), url('../../assets/fonts/proximanovacond-medium.otf') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaLight';
    src: local('proximaNovaLight'), url('../../assets/fonts/proximanovacond-light.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}